<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="company">&copy; SWIFT STAY</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms and conditions</a>
        </div>
    </div>
</footer>