.navbar{
    height: 5rem;
}
.navbar-brand{
    color: #FF385C;
    font-size: 1.5rem;
}
.nav-link{
    color : black;
}
.f-info-links a{
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links {
    width: 100%;
}
.f-info-social , .company{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.f-info-social i{
    margin-right: 1rem;
    font-size: 1.5rem;
}
.company{
    width: 100%;
}
.f-info{
    border-top: 2px solid rgb(203, 189, 189);
    background-color: rgb(203, 189, 189);
    height: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: space-evenly;
}